@media screen and (min-width:1922px){	
.grid-container {
	width: 1900px;
	margin: 0 auto;
}
}
@media screen and (max-width:1900px){
.class_sele {
    width: 1100px;
}
.class_sele > div.class_sele_calendar input{
	width: 30%;
}
}
@media screen and (max-width:1790px){
.class_sele {
	width: 100%;
}
.class_top > div {
    display: block;
}
.class_but {
	margin-top: 10px;
    width: 100%;
    border-top: 1px solid #A66F4B;
	border-left: none;
    padding: 10px 0 0 0 ;
	text-align: center;
}
.class_but button {
    display: inline-block;
	margin: 0 10px;
}
.class_sele > div.class_sele_lone,.class_sele > div.class_sele_calendar{
	width: 40%;
}
}
@media screen and (max-width:1650px){
.class_sele > div.class_sele_calendar input,.class_sele.company2 > div.class_sele_calendar input,.class_sele.assessment > div.class_sele_calendar input{
	width: 26%;
}
}
@media screen and (max-width:1610px){
.be_kv{
	background: url(../img/be_kv.png) no-repeat center #C69C6D;
	background-position-x: calc(50% - 35px);
}	
.class_top {
	padding: 20px 10px;
	width: calc(100% - 20px);
}
.class_sele > div.class_sele_lone, .class_sele > div.class_sele_calendar {
	width: 40%;
}
.class_sele > div {
	margin-right: 0.5%;
	width: 22.5%;
}
.class_sele > div.class_sele_lone, .class_sele > div.class_sele_calendar {
	width: 52%;
}
.class_sele > div span {
    margin-right: 2px;
}
.class_list.be1 table tbody td:nth-child(3),.class_list.be1 table tbody td:nth-child(5){
	width: 12%;
}
.f_m1{
	width: 45px;
}
.f_m2{
	width: 75px;
}
.f_m3{
	width: 160px;
}
.f_m4{
	width: 60px;
}
}
@media screen and (max-width:1500px){
.kv_p1{
	background: url(../img/kv_m.png) no-repeat center #c69c6d;
	background-size: cover;
}
.kv_p2{
	background: url(../img/kv_m.png) no-repeat center #c69c6d;
	background-size: cover;
}
.kv_p3{
	background: url(../img/kv_m.png) no-repeat center #c69c6d;
	background-size: cover;
}
.popup > div{
	width: calc(80% - 100px);
	top: 30%;
	left: 10%;
}
}
@media screen and (max-width:1250px){
.grid-container {
	display: block;
}
.top{
	position: fixed;
	background: rgba(112, 71, 44, 0.9);
	width: 100%;
	top: 0;
	left: 0;
	height: 100px;
	z-index: 200;
}
.right{
	width: 96%;
	margin: 100px 2% 10px 2%;
}
.footer{
	padding: 0 0 40px 0;
	width: 96%;
	margin: 10px 2%;
}
.login{
	top: 64px;
	right: 55px;
}
.toggle{
	display: block;
	position: absolute;
	top:57px;
	right:5px;
	z-index: 205;
	background:url(../img/nav.png) no-repeat;
	background-size: contain;
	height: 40px;
	width: 40px;
}
.active{
	background:url(../img/close.png) no-repeat;
	background-size: contain;
}
.left{
	display: none;
	position: absolute;
	top: 100px;
	width: calc(100% - 60px);
	border-radius: 0;
	z-index: 200;
}
.class_sele > div {
	width: 26%;
}
.class_sele > div.class_sele_lone, .class_sele > div.class_sele_calendar {
	width: 45%;
}
.class_list table thead td, .class_list table tbody td {
    font-size: 16px;
}
}
@media screen and (max-width:1100px){
.login_form {
	width: 90%;
	margin: 0 auto;
}
.login_form div > span {
	margin-right: 10px;
}
.login_form input {
	width: calc(100% - 75px);
}
.login_form .short input {
	width: calc(100% - 230px);
}
.class_list{
	overflow-x: auto;
}
.class_list table{
	width: 960px;
}
}
@media screen and (max-width:960px){
.be_kv{
	display: block;
	background: url(../img/kv_m.png) no-repeat center;
	width: 100%;
	height: 385px;
}
.be_login{
	display: block;
	width: 100%;
	height: calc(94vh - 385px);
	margin: 0;
	padding-top: 6vh;
}
h1{
	font-size: 40px;
}
.login_form div{
	margin: 20px 0;
}
.f_m{
	display: block;
}
.class_top {
    padding: 20px;
    width: calc(100% - 40px);
}
.class_sele > div {
	margin-right: 0;
	width: 35%;
}
.class_sele > div.class_sele_lone, .class_sele > div.class_sele_calendar {
	width: 64%;
}
.popup > div{
	width: calc(90% - 100px);
	top: 10%;
	left: 5%;
}
.popup.op2 > div{
	width: calc(90% - 100px);
	top: 5%;
	left: 5%;
}
.poptable input.class_sele_time{
	width: 80px;
}
}
@media screen and (max-width:900px){
.permissions {
	width: 100%;
}
.poptable tr td:first-child{
	width: 100px;
	font-size: 16px;
}
.f_m5{
	display: block;
}
.poptable input.class_sele_time{
	margin-top: 10px;
}
}
@media screen and (max-width:770px){
.logo {
	font-size: 22px;
	line-height: 2.3;
	padding-left: 55px;
}
.class_sele > div,.class_sele > div.class_sele_lone, .class_sele > div.class_sele_calendar {
	width: auto;
	display: block;
}
.f_m{
	display: none;
}
.class_sele select, .per_sele select{
    width: calc(100% - 90px);
}
.class_sele > div.class_sele_lone2{
    width: calc(100% - 6px);
}
.class_sele.company > div {
    width: 100%;
}
.class_sele.assessment > div.class_sele_lone2 {
    width: 100%;
}
.popup > div,.popup.op2 > div{
	padding: 50px 20px 20px 20px;
	width: calc(96% - 40px);
	left: 2%;
}
}
@media screen and (max-width:630px){
.f_m6{display: block;}
.f_m6a{
	margin-top: 10px;
}
}
@media screen and (max-width:600px){
.kv,.kvpicout,.kvpic{
	height: 220px;
}
.arr{
	width: 40px;
	height: 40px;
	top: 40%;
}
.footer_left,.footer_right{
	float: none;
	text-align: center;
}
.footer_left{
	margin-bottom: 10px;
}
.footer {
    padding: 0;
}
.main {
    width: calc(100% - 40px);
    padding: 20px;
}
.page > div{
	display: block;
	height: auto;
	border-top: 1px solid #D5D5D5;
	border-left: none;
	padding: 10px 0 0 0;
	margin: 10px 0 0 0;
}
table.file{
	font-size: 13px;
}
}