@media screen and (min-width:1922px){	
.grid-container {
	width: 1900px;
	margin: 0 auto;
}
}
@media screen and (max-width:1890px){
.class_sele {
    width: 1100px;
}
}
@media screen and (max-width:1790px){
.class_sele {
	width: 100%;
}
.class_top > div {
    display: block;
}
.class_but {
	margin-top: 10px;
    width: 100%;
    border-top: 1px solid #A66F4B;
	border-left: none;
    padding: 10px 0 0 0 ;
	text-align: center;
}
.class_but button {
    display: inline-block;
	margin: 0 10px;
}
.class_sele > div.class_sele_lone,.class_sele > div.class_sele_calendar{
	width: 40%;
}
}
@media screen and (max-width:1600px){
.class_top {
	padding: 20px 10px;
	width: calc(100% - 20px);
}
.class_sele > div.class_sele_lone, .class_sele > div.class_sele_calendar {
	width: 40%;
}
.class_sele > div {
	margin-right: 0.5%;
	width: 22.5%;
}
.class_sele > div.class_sele_lone, .class_sele > div.class_sele_calendar {
	width: 52%;
}
.class_sele > div span {
    margin-right: 2px;
}
}
@media screen and (max-width:1500px){
.kv_p1{
	background: url(../img/kv_m.png) no-repeat center #c69c6d;
	background-size: cover;
}
.kv_p2{
	background: url(../img/kv_m.png) no-repeat center #c69c6d;
	background-size: cover;
}
.kv_p3{
	background: url(../img/kv_m.png) no-repeat center #c69c6d;
	background-size: cover;
}
}
@media screen and (max-width:1320px){	
.class_sele > div.class_sele_calendar input{
	width: 25%;
}
}
@media screen and (max-width:1250px){
.grid-container {
	display: block;
}
.top{
	position: fixed;
	background: rgba(255, 255, 255, 0.9);
	width: 100%;
	top: 0;
	left: 0;
	height: 100px;
	z-index: 200;
}
.right{
	width: 96%;
	margin: 100px 2% 10px 2%;
}
.footer{
	padding: 0 0 40px 0;
	width: 96%;
	margin: 10px 2%;
}
.login{
	top: 55px;
	right: 60px;
}
.toggle{
	display: block;
	position: absolute;
	top:50px;
	right:10px;
	z-index: 205;
	background:url(../img/nav.png) no-repeat;
	background-size: contain;
	height: 40px;
	width: 40px;
}
.active{
	background:url(../img/close.png) no-repeat;
	background-size: contain;
}
.left{
	display: none;
	position: absolute;
	top: 100px;
	width: calc(100% - 60px);
	border-radius: 0;
	z-index: 200;
}
.class_sele > div {
	width: 26%;
}
.class_sele > div.class_sele_lone, .class_sele > div.class_sele_calendar {
	width: 45%;
}
.class_list table thead td, .class_list table tbody td {
    font-size: 16px;
}
}
@media screen and (max-width:1100px){
.class_list{
	overflow-x: auto;
}
.class_list table{
	width: 960px;
}
}
@media screen and (max-width:960px){
.f_m{
	display: block;
}
.class_top {
    padding: 20px;
    width: calc(100% - 40px);
}
.class_sele > div {
	margin-right: 0;
	width: 35%;
}
.class_sele > div.class_sele_lone, .class_sele > div.class_sele_calendar {
	width: 64%;
}
}
@media screen and (max-width:770px){
.logo {
	font-size: 22px;
	line-height: 2.3;
	padding-left: 55px;
}
.tab > div {
    width: 30%;
}
.class_sele > div,.class_sele > div.class_sele_lone, .class_sele > div.class_sele_calendar {
	width: auto;
	display: block;
}
.f_m{
	display: none;
}
}
@media screen and (max-width:600px){
.kv,.kvpicout,.kvpic{
	height: 220px;
}
.arr{
	width: 40px;
	height: 40px;
	top: 40%;
}
.footer_left,.footer_right{
	float: none;
	text-align: center;
}
.footer_left{
	margin-bottom: 10px;
}
.footer {
    padding: 0;
}
.main {
    width: calc(100% - 40px);
    padding: 20px;
}
.login_form {
    width: 100%;
}
.login_form div > span {
    margin-right: 10px;
}
.login_form input {
    width: calc(100% - 75px);
}
.login_form .short input {
    width: calc(100% - 230px);
}
.bookapp {
    width: 100%;
}
.page > div{
	display: block;
	height: auto;
	border-top: 1px solid #D5D5D5;
	border-left: none;
	padding: 10px 0 0 0;
	margin: 10px 0 0 0;
}
}